.artwork-list-outer-container .see-all-artworks-link-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#link-to-all-artworks {
  color: black;
  font-size: 40px;
}

#link-to-all-artworks:hover {
  opacity: 0.85;
}

/* MODAL STYLE FOR VIEW AS A LIST ARTWORKS*/
.custome-modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  line-height: 20px;
  right: 10px;
  top: 5px;
  font-size: 50px;
}

@media only screen and (min-device-width: 768px) {
  .custome-modal {
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    z-index: 10;
  }
}
