* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.user-home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
/*  Use personal info */
.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 20px;
}
#user-name {
  padding: 30px;
  color: #4aa875;
}

#user-img {
  width: 90vw;
  border-radius: 20px;
}
.saved-artwork {
  padding: 20px;
}

/* User artwork */
.saved-artwork h2 {
  font-size: 30px;
  margin: 50px 0px;
  text-align: center;
  color: #982649;
  font-weight: 300;
}
.users-artworks {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.artwork-display img {
  max-width: 600px;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.artwork-display p {
  font-size: 20px;
  color: #061a40;
}
/* Desktop */
@media screen and (min-device-width: 768px) {
  #user-name {
    padding: 40px;
    color: #4aa875;
    text-align: left;
  }

  #user-img {
    max-width: 600px;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .users-artworks {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .artwork-display img {
    max-width: 400px;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .artwork-display p {
    font-size: 30px;
  }
}
