* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 20px;
}

.main-link a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: black;
}

.sub-links a {
  color: black;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 5px;
}

/*MOBILE MENU BAR SPECIFIC STYLE*/
@media screen and (max-height: 768px) {
  .sub-links a {
    color: black;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 5px;
  }

  .sub-links-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sub-links {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .sub-links-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .sub-links-overlay a:hover,
  .sub-links-overlay a:focus {
    color: white;
  }

  .sub-links-overlay .closebtn {
    position: absolute;
    top: -75px;
    right: -40px;
    font-size: 60px;
  }
}
/*MOBILE MENU BAR */
.menu-icon {
  margin: 0;
  position: absolute;
  top: 12px;
  right: 0;
}
.menu-icon div {
  width: 35px;
  height: 5px;
  margin: 6px 20px;
  background-color: black;
}

/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .nav-links {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  .menu-icon div {
    display: none;
  }
  .sub-links {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  .sub-links a {
    margin: 0 10px;
  }
  .sub-links a:hover {
    opacity: 0.6;
  }
  .closebtn {
    display: none;
  }
}
