* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.main-link a,
.sub-links a {
  color: black;
}

.main-link a {
  font-size: 60px;
}
.sub-links a {
  font-size: 20px;
}
.sub-links {
  display: none;
}
/* Display menu icon on mobile */
.menu-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 20px;
}
/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .nav-links {
    justify-content: space-between;
  }
  .menu-icon div {
    display: none;
  }
  .sub-links {
    display: block;
  }
}
