* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-link a,
.sub-links a {
  color: black;
}

.main-link a {
  font-size: 60px;
}
.sub-links a {
  font-size: 20px;
}

/* BELOW CHANGES TO TABLES */
@media only screen and (max-device-width: 768px) {
  .nav-links {
    justify-content: space-evenly;
  }
}
