.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container form div,
.sign-up-form-container div {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
label {
  margin-bottom: 10px;
}
label small {
  font-size: 20px;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

#login-btn {
  max-width: 100px;
  padding: 10px;
  color: white;
  font-size: 20px;
  background-color: #1ba644;
  border-radius: 10px;
}

#google-log-in,
#sign-up-form-btn {
  color: black;
  font-size: 18px;
  cursor: pointer;
}

#google-log-in:hover,
#sign-up-form-btn:hover {
  opacity: 0.6;
}
