* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* SEARCH BAR STYLE */
.submit {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-label {
  margin: 10px 0;
}
.search-label h4 {
  color: #161840;
}
#submit-search-btn,
#share-location-btn {
  border: none;
  max-width: 300px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

#submit-search-btn {
  background-color: #4aa875;
  border-radius: 10px;
  color: white;
  padding: 20px;
}

#share-location-btn {
  font-weight: 300;
  background-color: transparent;
}
#submit-search-btn:hover,
#share-location-btn:hover {
  opacity: 0.85;
}

/* CAROUSEL STYLE */

/* .share-location-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  align-content: center;
}

.share-location {
  display: flex;
  align-self: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
} */
/* #carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#carousel #carousel-text {
  position: absolute;
  top: 35vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
}

.carousel-image img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* position: absolute; */
/* margin: auto; */
/* max-width: 100vw;
  max-width: 70vw; */
/* height: 400px; */
/* } */
