/* #carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#carousel #carousel-text {
  position: absolute;
  top: 35vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
}

#carousel .carousel-image img {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 300px;
  height: 400px;
} */
