* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* SEARCH BAR STYLE */
.submit {
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.search-label {
  margin: 10px 0;
}

.search-label h4 {
  color: #161840;
}

#submit-search-btn,
#share-location-btn {
  border: none;
  max-width: 300px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

#submit-search-btn {
  background-color: #4aa875;
  border-radius: 10px;
  color: white;
  padding: 20px;
}

#share-location-btn {
  font-weight: 300;
  background-color: transparent;
}

#submit-search-btn:hover,
#share-location-btn:hover {
  opacity: 0.85;
}

/* CAROUSEL STYLE */
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-details {
  width: 90vw;
}

#carousel-arwork-img {
  width: 100%;
  object-fit: cover;
  max-width: 600px;
  max-height: 600px;
}

/* Desktop */
@media screen and (min-device-width: 768px) {
  .carousel-details {
    width: 600px;
    margin-top: 20px;
  }
}

#carousel-artist-name {
  color: #982649;
  font-weight: 300;
  font-size: 25px;
}

#carousel-art-description {
  font-size: 20px;
}

#navegation-link {
  color: #161840;
  font-weight: 800;
}

#navegation-link:hover {
  opacity: 0.85;
}

.carousel-btns {
  margin-top: 10px;
}

#previous-btn,
#forward-btn {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 50px;
  outline: none;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: black;
  opacity: 0.6;
  width: 4rem;
  height: 4rem;
}

#previous-btn {
  left: -1rem;
}

#forward-btn {
  right: -1rem;
}
