.all-artworks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.artwork-container {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.artwork-container img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 200px;
  max-width: 700px;
}

.all-artworks-container h2 {
  color: #982640;
  font-size: 30px;
  margin-top: 10px;
}
/* BELOW CHANGES TO TABLES AND DESKTOP*/
@media only screen and (min-device-width: 768px) {
  .all-artworks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .artwork-container {
    margin: 20px;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  .artwork-container img {
    height: auto;
    max-width: 700px;
  }
}
