@media screen and (max-width: 786px) {
  #map-popup-container {
    max-height: 500px;
    /* height: 500px; */
    /* display: flex;
  justify-content: center; */
  }
  #map-popup-img {
    width: 250px;
    max-height: 250px;
  }
  /* .carousel-image { */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; */
  /* position: absolute; */
  /* margin: auto; */
  /* max-height: 70vh; */
  /* height: 400px; */
  /* } */

  .carousel-image img {
    width: 100vw;
  }

  .single-image {
    max-width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 2000px) {
  #map-popup-container {
    max-height: 500px;
    /* height: 500px; */
    /* display: flex;
    justify-content: center; */
  }
  #map-popup-img {
    width: 100%;
    height: auto;
  }

  .single-artwork-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 35px;
  }
  .single-image {
    max-width: 100%;
    height: auto;
  }
}
