.map-container {
  width: 100vw;
  height: 100vh;
}
.artwork-list-outer-container .see-all-artworks-link-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#link-to-all-artworks {
  color: black;
  font-size: 30px;
}

/* MODAL STYLE*/
.modal {
  position: absolute;
  width: 100vw;
  max-height: 600px;
  right: calc(50% - 50%);
  /* top: calc(50% - (max-height / 2)); */
  /* margin: -305px 0 0 -300px; */
  margin-top: -305px;
  margin-right: -50%;
  border: solid 2px #cccccc;
  background-color: #ffffff;
  overflow-y: scroll;
  z-index: 10;
}
/* .modal > .content { */
/* width: 100%; */
/* padding: 10px 5px; */
/* overflow: hidden; */
/* height: 500px; */
/* } */
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  line-height: 20px;
  right: 5px;
  top: 5px;
  font-size: 26px;
}
