.map-container {
  width: 100vw;
  height: 100vh;
  margin: 20px;
}

.see-all-artworks-link-container {
  position: absolute;
  background-color: white;
  padding: 20px;
  width: 100vw;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
}

#link-to-all-artworks {
  color: black;
  font-size: 30px;
}

/* MODAL STYLE*/
.modal > .content {
  width: 100%;
  padding: 10px 5px;
  overflow: hidden;
  height: 500px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  line-height: 20px;
  right: 5px;
  top: 5px;
  font-size: 26px;
}
