.map-container {
  width: 100vw;
  height: 100vh;
}
#marker-pin {
  background: none;
  border: none;
  outline: none;
}

#navegation-control {
  position: absolute;
  margin: 20px;
}
#fullscreen-control {
  position: absolute;
  margin: 20px;
  top: 100px;
}
.artwork-list-outer-container .see-all-artworks-link-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#link-to-all-artworks {
  color: black;
  font-size: 40px;
}

#link-to-all-artworks:hover {
  opacity: 0.85;
}
/* MODAL STYLE FOR VIEW AS A LIST ARTWORKS*/
.modal {
  padding-top: 60px;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  line-height: 20px;
  right: 10px;
  top: 5px;
  font-size: 30px;
}

/* POP UP STYLE */

.close-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 60px;
  position: absolute;
  top: 5px;
  right: 20px;
}

@media only screen and (min-device-width: 768px) {
  .modal {
    position: absolute;
    width: 100%;
    max-height: 600px;
    margin-top: -305px;
    margin-right: -50%;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    overflow-y: scroll;
    z-index: 10;
  }

  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    line-height: 20px;
    right: 10px;
    top: 5px;
    font-size: 30px;
  }
  .close-btn {
    font-size: 30px;
    top: -5px;
    right: 20px;
  }
}
