* {
  margin: 0;
  padding: 20;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#map-popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 20px;
}

#map-popup-container a {
  color: black;
}
#map-popup-content {
  padding-left: 20px;
  padding-right: 20px;
  align-content: center;
}

.map-popup-img {
  object-fit: cover;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
}

.artist-name {
  text-transform: uppercase;
  text-align: center;
  color: #982649;
  margin: 5px 0;
  font-size: 25px;
  font-weight: 800;
}

.art-address {
  color: black;
  font-size: 12px;
  text-align: center;
}

.google-nav-btn,
.all-art-at-location {
  text-align: center;
  align-content: center;
  align-self: center;
  text-transform: uppercase;
  color: #061a40;
  font-size: 13px;
}

.google-nav-btn {
  margin: 20px 0;
  text-align: center;
}
.google-nav-btn a {
  color: #061a40;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.google-nav-btn a:hover,
.all-art-at-location:hover {
  opacity: 0.8;
}
