* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#map-popup-container {
  height: inherit;
  max-width: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 20px;
}

#map-popup-container a {
  color: black;
}
#map-popup-content {
  padding: 20px 0;
}

.map-popup-img {
  object-fit: cover;
  width: 100%;
  max-width: 400px;
  max-height: 200px;
}

.artist-name {
  color: #982649;
  font-weight: bold;
  margin: 5px 0;
  font-size: 25px;
  font-weight: 300;
}

.art-address {
  color: black;
  font-size: 20px;
}

.all-art-at-location {
  color: #061a40;
  font-size: 20px;
}

.google-nav-btn {
  margin: 20px 0;
}
.google-nav-btn a {
  color: #061a40;
  font-size: 20px;
  font-weight: bold;
}

.google-nav-btn a:hover,
.all-art-at-location:hover {
  opacity: 0.8;
}
