* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.update-form-container form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.update-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.update-form-container h1 {
  color: #982649;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.update-artwork-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.update-artwork-container img {
  max-width: 400px;
  max-height: 500px;
  border-radius: 10px;
  width: 100%;
}

#update-art-btn {
  position: relative;
  display: inline-block;
  top: 45px;
  left: 99%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #061a40;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #061a40;
}

#file-container input[type='file'] {
  height: 0;
  overflow: hidden;
  width: 0;
}

#file-container input[type='file'] + .file-label {
  background: #4d98e3;
  border: none;
  color: #ffff;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  outline: none;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

#update-artist-name,
#update-textarea {
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  border: 1px solid black;
  padding: 20px 40px;
}

input::placeholder,
textarea::placeholder {
  font-size: 20px;
  text-align: 20px;
}
#update-artwork-btn {
  background-color: #4aa875;
}

#delete-artwork-btn,
#update-artwork-btn {
  border: none;
  max-width: 300px;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
#update-artwork-btn {
  background-color: #4aa875;
}
#delete-artwork-btn {
  background-color: #d52217;
}

#update-art-btn:hover,
#delete-artwork-btn:hover,
#file-container input[type='file'] + .file-label:hover,
#update-artwork-btn:hover {
  opacity: 0.7;
}
/* Desktop */
@media screen and (min-device-width: 768px) {
  #update-artist-name,
  #update-textarea {
    padding: 20px 100px;
  }
}
